.btn {
  padding: 7px 10px;
  font-size: 13px;
  line-height: 1.2;
  background: #fff;
  color: #009fda;
  border: 1px solid #000000;
  border-radius: 3px;
  cursor: pointer;
}

.btn:hover {
  background: #000;
}
